<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
</head>
<body>
    <div class="profileAdd">
        <div class="profileImage">
            <img src="<%= data.profileImage %>" alt="">
            <button></button>
        </div>
        <div class="username">
            <h1><%= data.username %></h1>
            <button></button>
        </div>
        <div class="description">
            <p><%= data.description %></p>
            <button></button>
        </div>
    </div>
</body>
</html>