<!-- masonry grid -->
<div class="grid">
    <div class="grid-sizer"></div><!-- 기준 열 -->
    
    <div class="grid-item"><img src="/img/test/1.png" alt=""></div>
    <div class="grid-item"><img src="/img/test/2.png" alt=""></div>
    <div class="grid-item"><img src="/img/test/3.png" alt=""></div>
    <div class="grid-item"><img src="/img/test/4.png" alt=""></div>
    <div class="grid-item"><img src="/img/test/5.png" alt=""></div>
    <div class="grid-item"><img src="/img/test/6.png" alt=""></div>
</div>
