<div class="myblog">
   <div class="blog-section">
        <h2><a href="#">blog section name</a></h2>
        <p><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste blanditiis cupiditate aliquam, consequatur, vero enim accusantium, asperiores voluptatum quo repellat modi quasi placeat hic sequi fugit doloribus. Repudiandae, praesentium quisquam?</a></p>
        <p class="post_action">공감 댓글</p>
        <hr>
   </div>
</div>