<div class="media-grid">
  <div class="media-item">
    <video class="media-video" poster="" preload="none">
      <source src="/videos/1.mp4" type="video/mp4">
    </video>
  </div>
  <div class="media-item">
    <video class="media-video" poster="" preload="none">
      <source src="/videos/2.mp4" type="video/mp4">
    </video>
  </div>
  <div class="media-item">
    <video class="media-video" poster="" preload="none">
      <source src="/videos/3.mp4" type="video/mp4">
    </video>
  </div>
</div>
